/******************************************************************************
*  Topheader
******************************************************************************/
 #topheader{
	border-bottom:1px solid #ffdc2e;
}
/******************************************************************************
*  Bottom 
******************************************************************************/
 #bottomheader{
	background:#ffed92 url(theme-yellow/img/bottomheader-bg.png) repeat-x bottom left;
	padding-top:10px;
	position:relative;
	z-index:800;
	width:100%
}
/******************************************************************************
*  navigation 
******************************************************************************/
 .navigation .navbar {
	background-image:url(theme-yellow/img/navbar-bg.png);
}
/******************************************************************************
*  navigation 
******************************************************************************/
 #shortcuts h3 {
	background-image:url(theme-yellow/mod/shortcuts-bg.png);
}
 #shortcuts h3:hover {
	background-image:url(theme-yellow/mod/shortcuts-bg-on.png);
}
/******************************************************************************
*  navigation 
******************************************************************************/
 #bottomheader h2.pageTitle {
	color:#ff9900;
	text-shadow:0 1px 1px #cc9900;
}