html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,th,td{margin:0;padding:0;}

img,body,html{border:0;}

/******************************************************************************
* Body and GWT .x-border-layout-ct BG
******************************************************************************/
.gwt-body-edit {
	background-color:#fff;
}
body {
	background-color:#fff !important;
	color:#000;
	margin:0;
	padding:0;
	font-family: Arial, Helvetica, sans-serif;
	line-height:125%;
	font-size:78%;
}
/******************************************************************************
* Utils
******************************************************************************/
.collapsible {
	display:none;
}
 .clear {
	clear:both;
}
 .clearitem 	{
	clear:both;
}
 br.clear {
	clear:both;
	font-family: Arial, Helvetica, sans-serif;
	line-height:0px;	/* no height ! */
	font-size:0px;
}
 .hide,  .hidden {
	display:none;
}

 .floatright {
	float:right;
	position:relative;
	margin: 5px;
}
 .floatleft {
	float:left;
	position:relative;
	margin: 5px;
}

 .leftside{
	float:left;
	position:relative;
}
 .rightside{
	float: right;
	position:relative;
}
 .clearMaringPadding{
	padding:0;
	margin:0;
}
/******************************************************************************
*  Float Right List for ordered or unordered links list
******************************************************************************/
 .FloatRightList ul {
	text-align:right;
	list-style:none;
	margin:0;
	padding:0;
}

 .FloatRightList li {
	list-style:none;
	padding-left:1em;
	display:inline;
	line-height:125%
}
/******************************************************************************
* list Arrow
******************************************************************************/
 ul.arrowList, .arrowList ul {
	margin:5px 0;
	position:relative;
	list-style:none;
}
 .arrowList li {
	background: url(img/arrow.png) no-repeat 0 2px;
	padding:0 0 0 12px;
	clear:left;
	list-style:none;
}
/******************************************************************************
*  Hilight List
******************************************************************************/

 .hilightList ul {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0;
	padding:0;
	border-bottom:none;
}
 .hilightList li {
	list-style-type:none;
	margin:0;
	padding:0;
}
 .hilightList li a,
 .hilightList li a:link,
 .hilightList li a:visited
{
	border-bottom:1px solid #ccc;
	padding:0.2em 0.5em;
	display:block;
	text-decoration:none;
	color:#333;
}
 .hilightList li a:hover,
 .hilightList li a:active {
	text-decoration:none;
	color:#003399;
	background-color:#eaeaea
}

/******************************************************************************
* Breadcrumb
******************************************************************************/

 ul.breadcrumb  {
	margin:1em 0;
	padding:0;
	list-style:none;
	color:#333;
	text-transform:uppercase;
	font-size:85%;
}
 ul.breadcrumb li {
	display:inline;
	margin:0;
	padding:0;
	background: none;
	margin: 0 ;
}
 ul.breadcrumb a,
 ul.breadcrumb a:link,
 ul.breadcrumb a:visited
{
	padding:0 1em 0 0;
	margin:0;
	background: url(img/breadcrumb-separator.png) no-repeat 100% 50% ;
	color:#333;
	text-decoration:none;
}
 ul.breadcrumb a:hover,
 ul.breadcrumb a:active {
	color:#333;
	text-decoration:underline;
}
/******************************************************************************
*  header
******************************************************************************/
 #header{
	background:#2c8bc5 url(img/header-bg.png) repeat-x bottom left;
	color:#fff;
	padding-top:5px;
	padding-bottom:5px;
	position:relative;
	z-index:900;
	width:100%
}
 #header a,
 #header a:link,
 #header a:visited {
	color:#fff;
	text-decoration:none;
	line-height:160%;
}
 #header a:hover,
 #header a:active {
	color:#fff;
	text-decoration:underline;
}
/******************************************************************************
Search form top
******************************************************************************/
 #header form.simplesearchform .text-input {
	width:304px !important;
	 border: 1px solid #333
}
 #header form.simplesearchform {
	width:340px !important;
	float:right;
	margin-top:0.7em;
	clear: both;
}

/******************************************************************************
*  header
******************************************************************************/
 #headerBottom{
	background:#fff url(img/headerBottom-bg.png) repeat-x bottom left;
	position:relative;
	z-index:900;
	width:100%
}

/******************************************************************************
*  illustration
******************************************************************************/
 #illustration{
	background:#f7f7f7 url(img/illustration-bg.png) repeat-y 50% 0%;
	border-bottom:1px solid #efefef;
	position:relative;
	z-index:900;
	width:100%
}
/******************************************************************************
*  content
******************************************************************************/
 .page {
	background-color:#fff;
}
 #content{
	padding-top:15px;
	padding-bottom:15px;
	position:relative;
	z-index:700;
	width:100%
}
/******************************************************************************
*  footerTop
******************************************************************************/
 #footerTop{
	background:transparent url(img/footer-bg.png) repeat-x bottom left;
	background-color:#151615;
	position:relative;
	z-index:500;
	width:100%;
	padding-top:5px;
	color:#ccc;
	font-size:0.9em;
	padding:15px 0 ;
}

 #footerTop p {
	padding:0;
	color:#fff;
}
 #footerTop a,
 #footerTop a:link,
 #footerTop a:visited {
	color:#fff;
	text-decoration:none;
	line-height:160%;
}
 #footerTop a:hover,
 #footerTop a:active {
	color:#fff;
	text-decoration:underline;
}


/******************************************************************************
*  footer
******************************************************************************/
 #footer{
	background-color:#fff;
	position:relative;
	z-index:500;
	width:100%;
	padding-top:5px;
	color:#ccc;
	font-size:0.9em;
	padding:15px 0 ;
}

 #footer p {
	padding:0;
	color:#333;
}

 #footer a,
 #footer a:link,
 #footer a:visited {
	color:#333;
	text-decoration:none;
	line-height:160%;
}
 #footer a:hover,
 #footer a:active {
	color:#333;
	text-decoration:underline;
}
/******************************************************************************
*  general
******************************************************************************/
 img 			{ border: 0px;}

 a,
 a:link,
 a:visited {
	color:#003399 ;
	text-decoration:none;
}
 a:hover,
 a:active {
	color:#003399 ;
	text-decoration:underline;
}
 p {
	padding:1em 0 1em 0;
}
 ul {
	list-style-type:square;
	list-style-position:outside;
	margin-bottom:6px;
	margin-left:20px;
	margin-top:6px;
}
 ol  {
	margin:1em 0 1em 2em;
	padding:0;
	list-style-position:outside;
}
 ol li {
	margin:0;
	padding:0;
	background: none;
	list-style: decimal;
}
 ul li {
	margin-bottom:2px;
	padding-left:8px;
}
 div.intro{
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#0066ff;
	font-size:1.4em;
	font-style:italic;
	line-height:1.6em;
	padding-bottom:1em;
}
 div.intro p{
	padding-bottom:1em;
}
 p.intro {
	font-size:1.3em;
	line-height:1.6em;
}

 h1 {
	color:#000;
	font-weight:bold;
	font-size:2em;
	line-height:normal;
	padding:0 0 0.5em 0;
	text-transform: uppercase;
}

 h2 {
	font-weight:normal;
	font-size:1.3em;
	padding-bottom:20px;
	margin-bottom:10px;
	margin-top:15px;
	background:transparent url(img/hr-bg.png) repeat-x bottom left;
}
 h2.pageTitle, .pageTitle {
	margin:0;
	color:#003399;
	margin-bottom:5px;
	padding:5px 0;
	font-size:2.2em;
	line-height:normal;
	text-shadow: 0px 1px 1px #ccd6eb;
}
 h3 {
	font-weight:normal;
	font-size:1.6em;
	margin-bottom:10px;
	margin-top:10px;
	
}
 h4 {
	font-size:1.3em;
	margin-bottom:10px;
	margin-top:10px;
	color:#003399;
}
 h5 {
	font-weight:bold;
	font-size:1.1em;
	color:#666;
}


 fieldset {
	padding:0.5em;
	border:1px solid #ccc;
	margin:0.5em 0;
}
 legend {
	font-size:1em;
	color:#333;
	padding:0 0.5em;
	background:#3297cb url(img/contactformlegend.png) repeat-x bottom left;
	border:1px solid #ccc;
	display:inline;
	font-weight:bold;
	text-transform:uppercase
}

 hr {
	height:2px;
	background:transparent url(img/hr-bg.png) repeat-x bottom left;
	border: none;
	margin : 18px 0;
}
 blockquote {
	background:#E0E0E0 url(img/blockquote.png) no-repeat top left;
	border:1px solid #A5A5A5;
	font-style:italic;
	margin-bottom:15px;
	margin-top:15px;
	padding:20px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	-webkit-box-shadow: 0px 0px 5px #cccccc;
	-moz-box-shadow: 0px 0px 5px #cccccc;
	box-shadow: 0px 0px 5px #cccccc;
	
}

 textarea {
	font-family: Arial, Helvetica, sans-serif;
	font-size:100%
}
 p.field{
	margin-bottom:0.2em
}
 input,
 select,
 textarea {
	color:#666;
	padding:2px ;
	font-size:100%
}
 label {
	font-weight:bold;
}

 input.gobutton{
	background:none;
	border:none;
	margin:0;
	padding:0;
	vertical-align: bottom;
}
 pre {
	background-color:#eaeaea;
	border-left:4px solid #003399;
	font-family:Courier,"Courier New",monospace;
	font-size:100%;
	overflow:auto;
	margin-bottom:15px;
	margin-top:15px;
	padding:20px;
	line-height:100%
}
 .highlight{
	background-color:#ffff99;
	padding-right:0.5em;
	padding-left:0.5em;
}
 code,  .code {
	background-color:#eaeaea;
	font-family:Courier,"Courier New",monospace;
	font-weight:normal;
	padding-right:0.5em;
	padding-left:0.5em;
}
 .small {
	font-weight:0.8em;
}
 .colorlight {
	color:#666
}
/******************************************************************************
*  Images
******************************************************************************/
 .imagefloatright {
	float:right;
	margin-bottom:20px;
	padding-left:20px;
}
 .imagefloatleft {
	float:left;
	margin-bottom:20px;
	padding-right:20px;
}
 .imagefloatright {
	float:right;
	margin-bottom:20px;
	padding-left:20px;
}

 .itemImage {
	background-color:#F4F4F4;
	border:1px solid #CCC;
	position:relative;
	padding:1px;
	margin-bottom:10px;
}
 .imagefloatleft .itemImage  {
	margin-bottom:0px;
}
 .imagefloatright .itemImage  {
	margin-bottom:0px;
}
 div.itemImageRight {
	float:right;
}
 div.itemImageLeft {
	float:left;
}
 .itemImage img {
	background-color:#e1e1e1;
	display: block;
	padding:9px;
}
 .itemImagewhite img{
	background-color:#fff;
	display: block;
}
/******************************************************************************
*  Pagination
******************************************************************************/
 div.pagination {
	height:1%;
	overflow:hidden;
	text-transform:uppercase;
	border: 1px solid #ccc;
	padding:0.5em 0.5em;
	margin:0.5em 0;
	background:#e1e1e1  url(img/1px-white.png) repeat-x top left;
}
 .paginationPosition {
	float:left;
	font-size:0.85em;
	color:#36393d;
}
 .paginationNavigation {
	float:right;
	font-size:0.85em;

}
 .paginationNavigation a:link,
 .paginationNavigation a:visited,
 .paginationNavigation a:hover,
 .paginationNavigation a:active {
	text-decoration:none;
	padding:0.2em 0.5em;
}

 .paginationNavigation a:hover {
	background:#003399 ;
	color:#fff;
}
 .paginationNavigation .currentPage{
	background:#003399 ;
	color:#fff;
	padding:0.2em 0.5em;
}


 .paginationNavigation span {
	text-decoration:none;
	color:#666;
	padding:0;
}
/******************************************************************************
*  AlphabeticalMenu
******************************************************************************/
 div.alphabeticalMenu {
	height:1%;
	overflow:hidden;
	text-transform:uppercase;
	border: 1px solid #ccc;
	padding:0.5em 0.5em;
	margin:0.5em 0;
	background:#e1e1e1  url(img/1px-white.png) repeat-x top left;
}
 .alphabeticalLabel {
	float:left;
	font-size:0.9em;
	font-weight:bold;
	color:#333;
}
 .alphabeticalNavigation {
	float:right;

}
 .alphabeticalNavigation a:link,
 .alphabeticalNavigation a:visited,
 .alphabeticalNavigation a:hover,
 .alphabeticalNavigation a:active {
		height:28px;
		line-height:28px;
		border:1px solid #ccc;
		background:#eaeaea;
    	padding: 2px 4px;
		text-decoration:none;
}

 .alphabeticalNavigation a:hover {
		background:#333;
		color:#fff;
}
 .alphabeticalNavigation a.current{
		height:28px;
		line-height:28px;
		border:1px solid #ccc;
		background:#333;
		color:#fff;
    	padding: 2px 4px;
		text-decoration:none;
}


 .alphabeticalNavigation span {
		text-decoration:none;
		color:#666;
		padding:0;
}
/******************************************************************************
*  Button
******************************************************************************/
 .divButton{
	text-align:center;
	margin:0 0 10px 0;
	overflow:hidden;
}
 .divButtonRight{
	text-align:right;
	overflow:hidden;
}
 input.button,  button {
	margin-right:0.5em;
}

 input.button,  button {
	background:#043b9d url(img/bg-button.png) repeat-x top left;
	border:1px solid #003366;
	outline:none;
	color:#fff;
	text-align:center;
	padding:3px 15px;
	-moz-border-radius:	5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;

}
 .button:hover,  button:hover {
	cursor: pointer;
	background:#043b9d url(img/bg-button-on.png) repeat-x bottom left;
	color:#fff;
}

/******************************************************************************
*  <A> Button
******************************************************************************/

  a.aButton,
  a.aButton:link,
  a.aButton:visited {
	background: transparent url(img/button-right.png) no-repeat scroll top right;
	display: block;
	float: left;
	height: 24px; /* CHANGE THIS VALUE ACCORDING TO IMAGE HEIGHT */
	margin-right: 6px;
	padding-right: 20px; /* CHENGE THIS VALUE ACCORDING TO RIGHT IMAGE WIDTH */
	/* FONT PROPERTIES */
	text-decoration: none;
	color:#fff;
	margin-top: 5px;
}
  a.aButton span {
	/* Background left image */
	background: transparent url(img/button-left.png) no-repeat;
	display: block;
	line-height: 12px; /* CHANGE THIS VALUE ACCORDING TO BUTTONG HEIGHT */
	padding: 6px 0 6px 18px;
}
  a.aButton:hover span{
	text-decoration:underline;
}
  a.aButtonRight,
  a.aButtonRight:link,
  a.aButtonRight:visited{
	float: right;
}
/******************************************************************************
*  Anchor
******************************************************************************/
 div.bottomanchor {
	padding:0.2em;
	margin: 1em 0;
	font-size:0.85em;
	clear:both
}
 .bottomanchor a,
 .bottomanchor a:link,
 .bottomanchor a:visited  {
	float:right;
	margin:0 ;
	text-transform:uppercase
}
 .bottomanchor a:hover ,
 .bottomanchor a:active  {
	cursor: pointer;
	text-decoration: underline;
}

/******************************************************************************
*  Thumbnails
******************************************************************************/
 div.thumbnail {
	float:left;
	position:relative;
	margin-right:20px;
}
 div.thumbnailRight {
	float:right;
	position:relative;
	margin-left:20px;
}
 div.thumbnail img {
	position:relative
}

/******************************************************************************
*  Tables
******************************************************************************/
 .table th img{
	vertical-align: middle
}
 .table,
 .table caption
{
    margin: auto;
	line-height:1.9em;

}

 .table
{
    border-collapse:collapse;
	margin-bottom:1em;
	font-size:0.85em;
	border:none;
}
 .table,  .table th,  .table td
{
border: 1px solid #fff;
}
 .table caption
{
	font-weight:normal;
	font-size:2em;
	margin:0 ;
	padding:0;
}

 .table th {
    color: #fff;
	white-space:nowrap;
	background-color:#003399;
	padding:5px;
}
 .table td
{
	background-color:#fff;
	padding:5px;
}
 .table tr:hover{
	background-color:#ccc
}
 .table .odd td{background-color:#eaeaea}
 .table .even td{ background-color:#fff}
 .col1{}
 .col2{}
 .col3{}
 .col4{}

 .table td.center,
 .table th.center
{
	text-align:center;
}

/******************************************************************************
*  Tabs
******************************************************************************/
 div.idTabsContainer{
	margin:0 ;
}
  ul.idTabs {
	clear:both;
	list-style-type:none;
	overflow:hidden;
	background:transparent url(img/tab-bg.png) repeat-x bottom left;
	margin:0 0 10px 0;
	padding:0;

}
 .idTabs li {
	display:inline;
	float:left;
	margin:0;
	padding:0;
}
 .idTabs li.spacing{
	padding-left:20px;
}

 .idTabs li a {
	background:transparent url(img/tab-left.png) no-repeat scroll 0 0;
	color:#003399;
	display:inline;
	float:left;
	height:29px;
	line-height:29px;
	padding-left:15px;
	text-decoration:none;
	margin-right:2px
}
 .idTabs li a.selected,
 .idTabs li a:hover,
 .idTabs li a.selected {
	background-position:0 -29px;
	color:#003399;
	text-decoration:none;
}


 .idTabs li a span {
	background:transparent url(img/tab-right.png) no-repeat scroll 100% 0;
	color:#666;
	cursor:pointer;
	display:inline;
	float:left;
	height:29px;
	line-height:29px;
	padding-right:15px;
	text-decoration:none;

}
 .idTabs li a.selected span,
 .idTabs li a:hover span,
 .idTabs li a.idTabs span {
	background-position:100% -29px;
	color:#fff;
	text-decoration:none;
}

/******************************************************************************
*  Summary
******************************************************************************/
 ul.summary,  .summary {
	margin:10px 0;
	line-height:130%;
	padding: 10px;
	background-color:#eaeaea;
	border:1px solid #ccc;
	margin:0;
	list-style:none;
}

 .summary a,
 .summary a:link,
 .summary a:visited {
	text-decoration:none;
}
 .summary a:hover,
 .summary a:active {
	text-decoration:underline;
}

 .summary ul {
	margin:0;
	padding:0 0 0 2em;
	list-style:none;
}
 .summary li {
	padding:0;
	margin-bottom:10px
}

/******************************************************************************
* Form
******************************************************************************/
 .Form  p{
	clear:both;
	margin:0.2em 0;
	padding:0px
}
 .Form {
	margin:1em 0 0 0;
	overflow:hidden;
}
 .formMarginLeft{
	margin:0 0 0 25%;
	padding:0 1em 0 2.3em;
}
 .Form label.left {
	float:left; 

	width:25%;
	margin:0 1em 0 1em;
	padding:2px;
	text-align:right;
}
 .divButton{
	text-align:center;
	margin:0.5em 0;
}

/******************************************************************************
*  error
******************************************************************************/
 input.error{
	background-color:#ffebe8;
	border:1px solid #cc3300;
}

 label.error {
 clear: both;
 display: block;
 margin: 10px 0;
 padding:10px;
 padding-left:35px;
 border:1px solid #cc3300;
 -webkit-border-radius:10px;
 -moz-border-radius:10px;
 border-radius:10px;
 background:#ffebe8 url(img/error-messages.png) no-repeat 5px 50%;
}
/******************************************************************************
* Links
******************************************************************************/
 div.more {
    float: right;
    display: block;
}

 a.returnLink,
 a.returnLink:link,
 a.returnLink:visited{
	background:#eaeaea url(img/returnlink.png) no-repeat 8px 3px;
	display: inline-block;
	padding: 5px 10px 6px 30px;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	line-height: 1;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	
	-moz-box-shadow: 0px 1px 3px #999;
	-webkit-box-shadow: 0px 1px 3px #999;
	box-shadow: 0px 1px 3px #999;
	
	text-shadow: 0px -1px 1px #222;
	filter: dropshadow(color=#222, offx=0, offy=-1);
	
	background-color:#333;
	position: relative;
	cursor: pointer;
	-webkit-transition: all 0.3s ease-in-out; 
	-moz-transition: all 0.3s ease-in-out; 
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
 a.returnLink:hover,
 a.returnLink:active {
	text-decoration:none;
	color: #000;
	text-shadow: 0px -1px 1px #fff;
	filter: dropshadow(color=#fff, offx=0, offy=-1);
	background:#eaeaea url(img/returnlink.png) no-repeat 8px -29px;
}