html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,th,td{margin:0;padding:0;}

img,body,html{border:0;}

/******************************************************************************
* Body and GWT .x-border-layout-ct BG
******************************************************************************/
.gwt-body-edit {
	background-color:#eeeff0;
}
body {
	background-color:#eeeff0;
	color:#666;  
	margin:0;
	padding:0;
	font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 150%;
}
.bodywrapper {}
/******************************************************************************
* Utils
******************************************************************************/
.collapsible {
	display:none;
}
.bodywrapper .clear {
	clear:both;
}
.bodywrapper .clearitem 	{
	clear:both;
}
.bodywrapper br.clear {
	clear:both;
	font-family: Arial, Helvetica, sans-serif;
	line-height:0px;	/* no height ! */
	font-size:0px;
}
.bodywrapper .hide, .bodywrapper .hidden {
	display:none;
}

.bodywrapper .floatright {
	float:right;
	position:relative;
	margin: 5px;
}
.bodywrapper .floatleft {
	float:left;
	position:relative;
	margin: 5px;
}

.bodywrapper .leftside{
	float:left;
	position:relative;
}
.bodywrapper .rightside{
	float: right;
	position:relative;
}
.bodywrapper .clearMaringPadding{
	padding:0;
	margin:0;
}
/******************************************************************************
*  Float Right List for ordered or unordered links list
******************************************************************************/
.bodywrapper .FloatRightList ul {
	text-align:right;
	list-style:none;
	margin:0;
	padding:0;
}

.bodywrapper .FloatRightList li {
	list-style:none;
	padding-left:1em;
	display:inline;
	line-height:125%
}
/******************************************************************************
* list Arrow
******************************************************************************/
.bodywrapper ul.arrowList, .arrowList ul {
	margin:5px 0;
	position:relative;
	list-style:none;
	text-transform:uppercase;
}
.bodywrapper .arrowList li {
	background: url(img/arrow.png) no-repeat 0 4px;
	padding:0 0 0 20px;
	clear:left;
	list-style:none;
}
/******************************************************************************
*  Hilight List
******************************************************************************/

.bodywrapper .hilightList ul {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0;
	padding:0;
	border-bottom:none;
}
.bodywrapper .hilightList li {
	list-style-type:none;
	margin:0;
	padding:0;
}
.bodywrapper .hilightList li a,
.bodywrapper .hilightList li a:link,
.bodywrapper .hilightList li a:visited
{
	border-bottom:1px solid #ccc;
	padding:0.2em 0.5em;
	display:block;
	text-decoration:none;
	color:#333;
}
.bodywrapper .hilightList li a:hover,
.bodywrapper .hilightList li a:active {
	text-decoration:none;
	color:#9D50CA;
	background-color:#eaeaea
}

/******************************************************************************
* Breadcrumb
******************************************************************************/

.bodywrapper ul.breadcrumb  {
	margin:1em 0;
	padding:0;
	list-style:none;
	color:#333;
	text-transform:uppercase;
	font-size:85%;
}
.bodywrapper ul.breadcrumb li {
	display:inline;
	margin:0;
	padding:0;
	background: none;
	margin: 0 ;
}
.bodywrapper ul.breadcrumb a,
.bodywrapper ul.breadcrumb a:link,
.bodywrapper ul.breadcrumb a:visited
{
	padding:0 1.5em 0 0;
	margin:0;
	background: url(img/breadcrumb-separator.png) no-repeat 100% 50% ;
	color:#333;
	text-decoration:none;
}
.bodywrapper ul.breadcrumb a:hover,
.bodywrapper ul.breadcrumb a:active {
	color:#333;
	text-decoration:underline;
}
/******************************************************************************
*  page-header
******************************************************************************/
.bodywrapper #page-header{
	background-color:#130618;
}
/******************************************************************************
*  page-header
******************************************************************************/
.bodywrapper #page-header-img{
	background:transparent url(img/page-header-img.jpg) repeat-x 50% 0 ;
}
/******************************************************************************
*  header
******************************************************************************/
.bodywrapper #header{
	color:#fff;
	padding-top:5px;
	padding-bottom:5px;
	position:relative;
	z-index:900;
	width:100%;
	font-size:12px;
	line-height: 25px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
}
.bodywrapper #header a,
.bodywrapper #header a:link,
.bodywrapper #header a:visited {
	color:#fff;
	text-decoration:none;
	line-height:25px;
}
.bodywrapper #header a:hover,
.bodywrapper #header a:active {
	color:#fff;
	text-decoration:underline;
}
.bodywrapper #jahia-tools {
	overflow:hidden;
	float:right;
}

/******************************************************************************
Search form top
******************************************************************************/
.bodywrapper #headerBottom form.simplesearchform {
	position:relative;
	width:100px !important;
	margin-bottom:0;
	margin-top:35px;
}
.bodywrapper #headerBottom form.simplesearchform .text-input {
	width:64px !important;
	border: solid 1px #eaeaea;
	outline: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-moz-box-shadow: none;
	box-shadow: none;
}

/******************************************************************************
*  header
******************************************************************************/
.bodywrapper #headerBottom{
	background:#eaeaea url(img/headerBottom-bg.png) repeat-x top left;
	position:relative;
	z-index:500;
	width:100%;
	mini-height:100px;
	padding:0;
}
.bodywrapper #logo-top-container {
    position: relative;
}
.bodywrapper #logo-top {
	left: -20px;
    position: absolute;
    text-align: center;
    top: -20px;
}
/******************************************************************************
*  illustration
******************************************************************************/
.bodywrapper #illustration{
	position:relative;
	z-index:400;
	width:100%;
  	padding-bottom: 30px;
    padding-top: 25px;
}
/******************************************************************************
*  content
******************************************************************************/
.bodywrapper .page {
	background-color:#fff;
}
.bodywrapper #content{
	background:transparent url(img/content-bg.png) repeat-x top left;
	padding-top:15px;
	padding-bottom:15px;
	position:relative;
	z-index:300;
	width:100%
}
/******************************************************************************
*  footerTop
******************************************************************************/
.bodywrapper #footerTop{
	background:transparent url(img/footer-bg.png) repeat-x top left;
	background-color:#8350a8;
	position:relative;
	z-index:200;
	width:100%;
	padding-top:5px;
	color:#fff !important;
	font-size:0.9em;
	padding:15px 0 ;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
}
.bodywrapper #footerTop h1, .bodywrapper #footerTop h2, .bodywrapper #footerTop h3, .bodywrapper #footerTop h4, .bodywrapper #footerTop h5 {
   color:#fff !important;
}

.bodywrapper #footerTop p {
	padding:0;
	color:#fff;
}
.bodywrapper #footerTop a,
.bodywrapper #footerTop a:link,
.bodywrapper #footerTop a:visited {
	color:#fff;
	text-decoration:none;
}
.bodywrapper #footerTop a:hover,
.bodywrapper #footerTop a:active {
	color:#fff;
	text-decoration:underline;
}

.bodywrapper ul.filesList li:hover {
	background-color:#46285c
}

.bodywrapper #footerTop ul.arrowList,.bodywrapper #footerTop .arrowList ul {
	margin:5px 0;
	position:relative;
	list-style:none;
	text-transform:uppercase;
}
.bodywrapper #footerTop .arrowList li {
	background: url(img/arrow-white.png) no-repeat 0 6px;
	padding:0 0 0 12px;
	clear:left;
	list-style:none;
	line-height:200%
}
/******************************************************************************
*  footer
******************************************************************************/
.bodywrapper #footer{
	background-color:#fff;
	position:relative;
	z-index:100;
	width:100%;
	padding-top:5px;
	color:#ccc;
	font-size:0.9em;
	padding:15px 0 ;
}

.bodywrapper #footer p {
	padding:0;
	color:#333;
}

.bodywrapper #footer a,
.bodywrapper #footer a:link,
.bodywrapper #footer a:visited {
	color:#333;
	text-decoration:none;
	line-height:160%;
}
.bodywrapper #footer a:hover,
.bodywrapper #footer a:active {
	color:#333;
	text-decoration:underline;
}
/******************************************************************************
*  general
******************************************************************************/
.bodywrapper img 			{ border: 0px;}

.bodywrapper a,
.bodywrapper a:link,
.bodywrapper a:visited {
	color:#9D50CA ;
	text-decoration:none;
}
.bodywrapper a:hover,
.bodywrapper a:active {
	color:#9D50CA ;
	text-decoration:underline;
}
.bodywrapper p {
	padding:1em 0 1em 0;
}
.bodywrapper ul {
	list-style-type:square;
	list-style-position:outside;
	margin-bottom:6px;
	margin-left:20px;
	margin-top:6px;
}
.bodywrapper ol  {
	margin:1em 0 1em 2em;
	padding:0;
	list-style-position:outside;
}
.bodywrapper ol li {
	margin:0;
	padding:0;
	background: none;
	list-style: decimal;
}
.bodywrapper ul li {
	margin-bottom:2px;
	padding-left:8px;
}
.bodywrapper div.intro{
	padding-bottom:0;
	margin-bottom:1em;
	font-size: 16px;
    font-style: italic;
}
.bodywrapper div.intro p{
	padding-bottom:0;
	margin-bottom:0;
}
.bodywrapper p.intro {
	padding-bottom:0;
	margin-bottom:1em;
	font-size: 16px;
    font-style: italic;
}

.bodywrapper h1,.bodywrapper h2,.bodywrapper h3,.bodywrapper h4,.bodywrapper h5 {
	font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
	color:#9D50CA
}

.bodywrapper h1,.bodywrapper h2,.bodywrapper h3,.bodywrapper h4,.bodywrapper h5,.bodywrapper h6 {
    font-weight: normal;
    margin-bottom: 10px;
}
.bodywrapper h1 {
    font-size: 36px;
    line-height: 36px;
    margin-top: 25px;
}
.bodywrapper h2 {
    font-size: 24px;
    line-height: 24px;
    margin-top: 25px;
}
.bodywrapper h3 {
    font-size: 18px;
    line-height: 18px;
    margin-top: 15px;
}
.bodywrapper h4 {
    font-size: 16px;
    line-height: 16px;
    margin-top: 15px;
}
.bodywrapper h5 {
    font-size: 14px;
    line-height: 14px;
    margin-top: 10px;
}
.bodywrapper h6 {
    font-size: 14px;
    line-height: 14px;
    margin-top: 10px;
}

.bodywrapper fieldset {
	padding:0.5em;
	border:1px solid #ccc;
	margin:0.5em 0;
}
.bodywrapper legend {
	font-size:1em;
	color:#333;
	padding:0 0.5em;
	background:#fff url(img/contactformlegend.png) repeat-x bottom left;
	border:1px solid #ccc;
	display:inline;
	font-weight:bold;
	text-transform:uppercase
}

.bodywrapper hr {
    background: none repeat scroll 0 0 #9D50CA;
    border: medium none;
    display: block;
    height: 1px;
    margin: 15px 0;
}
.bodywrapper blockquote {
	background:#fff url(img/blockquote.png) no-repeat top left;
	border:1px solid #eaeaea;
	margin-bottom:15px;
	margin-top:15px;
	padding:20px 30px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	font-size: 16px;
    font-style: italic;
	color:#9D50CA;
}

.bodywrapper textarea {
	font-family: Arial, Helvetica, sans-serif;
	font-size:100%
}
.bodywrapper p.field{
	margin-bottom:0.2em
}
.bodywrapper input,
.bodywrapper select,
.bodywrapper textarea {
	color:#666;
	padding:2px ;
	font-size:100%
}
.bodywrapper label {
	font-weight:bold;
}

.bodywrapper input.gobutton{
	background:none;
	border:none;
	margin:0;
	padding:0;
	vertical-align: bottom;
}
.bodywrapper pre {
	background-color:#fff;
	border-left:4px solid #9D50CA;
	font-family:Courier,"Courier New",monospace;
	font-size:100%;
	overflow:auto;
	margin-bottom:15px;
	margin-top:15px;
	padding:20px;
	line-height:100%
}
.bodywrapper .highlight{
	background-color:#ffff99;
	padding-right:0.5em;
	padding-left:0.5em;
}
.bodywrapper code, .bodywrapper .code {
	background-color:#eaeaea;
	font-family:Courier,"Courier New",monospace;
	font-weight:normal;
	padding-right:0.5em;
	padding-left:0.5em;
}
.bodywrapper .small {
	font-size:0.8em;
}
.bodywrapper .colorlight {
	color:#666
}
/******************************************************************************
*  Images
******************************************************************************/
.bodywrapper .imagefloatright {
	float:right;
	margin-bottom:20px;
	padding-left:20px;
}
.bodywrapper .imagefloatleft {
	float:left;
	margin-bottom:20px;
	padding-right:20px;
}
.bodywrapper .imagefloatright {
	float:right;
	margin-bottom:20px;
	padding-left:20px;
}

.bodywrapper .itemImage {
	background-color:#F4F4F4;
	border:1px solid #CCC;
	position:relative;
	padding:1px;
	margin-bottom:10px;
}
.bodywrapper .imagefloatleft .itemImage  {
	margin-bottom:0px;
}
.bodywrapper .imagefloatright .itemImage  {
	margin-bottom:0px;
}
.bodywrapper div.itemImageRight {
	float:right;
}
.bodywrapper div.itemImageLeft {
	float:left;
}
.bodywrapper .itemImage img {
	background-color:#e1e1e1;
	display: block;
	padding:9px;
}
.bodywrapper .itemImagewhite img{
	background-color:#fff;
	display: block;
}
/******************************************************************************
*  Pagination
******************************************************************************/
.bodywrapper div.pagination {
	height:1%;
	overflow:hidden;
	text-transform:uppercase;
	border: 1px solid #ccc;
	padding:0.5em 0.5em;
	margin:0.5em 0;
	background:#e1e1e1  url(img/1px-white.png) repeat-x top left;
}
.bodywrapper .paginationPosition {
	float:left;
	font-size:0.85em;
	color:#36393d;
}
.bodywrapper .paginationNavigation {
	float:right;
	font-size:0.85em;

}
.bodywrapper .paginationNavigation a:link,
.bodywrapper .paginationNavigation a:visited,
.bodywrapper .paginationNavigation a:hover,
.bodywrapper .paginationNavigation a:active {
	text-decoration:none;
	padding:0.2em 0.5em;
}

.bodywrapper .paginationNavigation a:hover {
	background:#9D50CA ;
	color:#fff;
}
.bodywrapper .paginationNavigation .currentPage{
	background:#9D50CA ;
	color:#fff;
	padding:0.2em 0.5em;
}


.bodywrapper .paginationNavigation span {
	text-decoration:none;
	color:#666;
	padding:0;
}
/******************************************************************************
*  AlphabeticalMenu
******************************************************************************/
.bodywrapper div.alphabeticalMenu {
	height:1%;
	overflow:hidden;
	text-transform:uppercase;
	border: 1px solid #ccc;
	padding:0.5em 0.5em;
	margin:0.5em 0;
	background:#e1e1e1  url(img/1px-white.png) repeat-x top left;
}
.bodywrapper .alphabeticalLabel {
	float:left;
	font-size:0.9em;
	font-weight:bold;
	color:#333;
}
.bodywrapper .alphabeticalNavigation {
	float:right;

}
.bodywrapper .alphabeticalNavigation .alphabeticalLetter  {
		height:28px;
		line-height:28px;
		border:1px solid #ccc;
		background:#eaeaea;
    	padding: 2px 4px;
		text-decoration:none;
}

.bodywrapper .alphabeticalNavigation a:hover {
		background:#333;
		color:#fff;
}
.bodywrapper .alphabeticalNavigation a.current{
		height:28px;
		line-height:28px;
		border:1px solid #ccc;
		background:#333;
		color:#fff;
    	padding: 2px 4px;
		text-decoration:none;
}


.bodywrapper .alphabeticalNavigation span {
		text-decoration:none;
		color:#666;
		padding:0;
}
/******************************************************************************
*  Button
******************************************************************************/
.bodywrapper .divButton{
	text-align:center;
	margin:0 0 10px 0;
	overflow:hidden;
}
.bodywrapper .divButtonRight{
	text-align:right;
	overflow:hidden;
}
.bodywrapper input.button, .bodywrapper button {
	margin-right:0.5em;
}

.bodywrapper input.button, .bodywrapper button {
	background-color:#9D50CA ;
	color:#fff;
	border:none;
	text-align:center;
	padding:3px 15px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	
	-moz-box-shadow: 0px 1px 3px #999;
	-webkit-box-shadow: 0px 1px 3px #999;
	box-shadow: 0px 1px 3px #999;

}
.bodywrapper .button:hover, .bodywrapper button:hover {
	cursor: pointer;
	color:#9D50CA;
	background-color:#fff;
}


/******************************************************************************
*  <A> Button
******************************************************************************/

.bodywrapper  a.aButton,
.bodywrapper  a.aButton:link,
.bodywrapper  a.aButton:visited {
	background: transparent url(img/button-right.png) no-repeat scroll top right;
	display: block;
	float: left;
	height: 24px; /* CHANGE THIS VALUE ACCORDING TO IMAGE HEIGHT */
	margin-right: 6px;
	padding-right: 20px; /* CHENGE THIS VALUE ACCORDING TO RIGHT IMAGE WIDTH */
	/* FONT PROPERTIES */
	text-decoration: none;
	color:#9D50CA;
	margin-top: 5px;
}
.bodywrapper  a.aButton span {
	/* Background left image */
	background: transparent url(img/button-left.png) no-repeat;
	display: block;
	line-height: 12px; /* CHANGE THIS VALUE ACCORDING TO BUTTONG HEIGHT */
	padding: 6px 0 6px 18px;
}
.bodywrapper  a.aButton:hover span{
	text-decoration:underline;
}
.bodywrapper  a.aButtonRight,
.bodywrapper  a.aButtonRight:link,
.bodywrapper  a.aButtonRight:visited{
	float: right;
}
/******************************************************************************
*  Anchor
******************************************************************************/
.bodywrapper div.bottomanchor {
	padding:0.2em;
	margin: 1em 0;
	font-size:0.85em;
	clear:both
}
.bodywrapper .bottomanchor a,
.bodywrapper .bottomanchor a:link,
.bodywrapper .bottomanchor a:visited  {
	float:right;
	margin:0 ;
	text-transform:uppercase
}
.bodywrapper .bottomanchor a:hover ,
.bodywrapper .bottomanchor a:active  {
	cursor: pointer;
	text-decoration: underline;
}

/******************************************************************************
*  Thumbnails
******************************************************************************/
.bodywrapper div.thumbnail {
	float:left;
	position:relative;
	margin-right:20px;
}
.bodywrapper div.thumbnailRight {
	float:right;
	position:relative;
	margin-left:20px;
}
.bodywrapper div.thumbnail img {
	position:relative
}

/******************************************************************************
*  Tables
******************************************************************************/
.bodywrapper .table th img{
	vertical-align: middle
}
.bodywrapper .table,
.bodywrapper .table caption
{
    margin: auto;
	line-height:1.9em;

}

.bodywrapper .table
{
    border-collapse:collapse;
	margin-bottom:1em;
	font-size:0.85em;
	border:none;
}
.bodywrapper .table, .bodywrapper .table th, .bodywrapper .table td
{
border: 1px solid #fff;
}
.bodywrapper .table caption
{
	font-weight:normal;
	font-size:2em;
	margin:0 ;
	padding:0;
}

.bodywrapper .table th {
    color: #fff;
	white-space:nowrap;
	background-color:#9D50CA;
	padding:5px;
}
.bodywrapper .table td
{
	background-color:#fff;
	padding:5px;
}
.bodywrapper .table tr:hover{
	background-color:#ccc
}
.bodywrapper .table .odd td{background-color:#eaeaea}
.bodywrapper .table .even td{ background-color:#fff}
.bodywrapper .col1{}
.bodywrapper .col2{}
.bodywrapper .col3{}
.bodywrapper .col4{}

.bodywrapper .table td.center,
.bodywrapper .table th.center
{
	text-align:center;
}

/******************************************************************************
* Mod tabular List
******************************************************************************/
.bodywrapper #tabstabularList{
	background-color:#FFF;
	overflow:hidden;
	padding:0.2em;
	border-top:none;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	margin-bottom:1em;
	border:1px solid #eaeaea;
    clear:right;
}

.bodywrapper ul.idTabs {
	background-image:none;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	margin-bottom:1em;
	border:none;
	margin-bottom:0;
	padding:0.2em;
	padding-bottom:0;
	background-color:#999;
	list-style:none;
	overflow:hidden;
	margin:0;
}
.bodywrapper .tabContainer {
	background-color:#FFF;
	overflow:hidden;
	padding:20px;
	border-top:none;
	-webkit-border-radius:0 0 5px 5px;
	-moz-border-radius:0 0 5px 5px;
	border-radius:0 0 5px 5px;
	margin-bottom:1em;
}
.bodywrapper .idTabs li a {
	background:none;
	display:inline;
	float:left;
	height:auto;
	line-height:2em;
	padding-left:1px;
	text-decoration:none;
	margin-right:2px;
	font-weight:bold;

}
.bodywrapper .idTabs li a.selected,
.bodywrapper .idTabs li a:hover,
.bodywrapper .idTabs li a.selected {
	text-decoration:none;
	color: #0099FF;
}


.bodywrapper .idTabs li a span {
	background:none;
	color:#fff;
	cursor:pointer;
	display:inline;
	float:left;
	height:auto;
	line-height:3em;
	padding:0 10px;
	text-decoration:none;
}
.bodywrapper .idTabs li a.selected span,
.bodywrapper .idTabs li a:hover span,
.bodywrapper .idTabs li a.idTabs span {
	text-decoration:none;
	background-color:#FFF;
	-moz-border-radius:  5px 5px 0 0 ;
	-webkit-border-radius: 5px 5px 0 0 ;
	border-radius: 5px 5px 0 0 ;
	color: #9D50CA;

}

/******************************************************************************
*  Summary
******************************************************************************/
.bodywrapper ul.summary, .bodywrapper .summary {
	margin:10px 0;
	line-height:130%;
	padding: 10px;
	background-color:#eaeaea;
	border:1px solid #ccc;
	margin:0;
	list-style:none;
}

.bodywrapper .summary a,
.bodywrapper .summary a:link,
.bodywrapper .summary a:visited {
	text-decoration:none;
}
.bodywrapper .summary a:hover,
.bodywrapper .summary a:active {
	text-decoration:underline;
}

.bodywrapper .summary ul {
	margin:0;
	padding:0 0 0 2em;
	list-style:none;
}
.bodywrapper .summary li {
	padding:0;
	margin-bottom:10px
}

/******************************************************************************
* Form
******************************************************************************/
.bodywrapper .Form  p{
	clear:both;
	margin:0.2em 0;
	padding:0px
}
.bodywrapper .Form {
	margin:1em 0 0 0;
	overflow:hidden;
}
.bodywrapper .formMarginLeft{
	margin:0 0 0 25%;
	padding:0 1em 0 2.3em;
}
.bodywrapper .Form label.left {
	float:left; 

	width:25%;
	margin:0 1em 0 1em;
	padding:2px;
	text-align:right;
}
.bodywrapper .divButton{
	text-align:center;
	margin:0.5em 0;
}

/******************************************************************************
*  error
******************************************************************************/
.bodywrapper input.error{
	background-color:#ffebe8;
	border:1px solid #cc3300;
}

.bodywrapper label.error {
 clear: both;
 display: block;
 margin: 10px 0;
 padding:10px;
 padding-left:35px;
 border:1px solid #cc3300;
 -webkit-border-radius:10px;
 -moz-border-radius:10px;
 border-radius:10px;
 background:#ffebe8 url(img/error-messages.png) no-repeat 5px 50%;
}
/******************************************************************************
* Links
******************************************************************************/
.bodywrapper div.more {
    float: right;
    display: block;
}
.bodywrapper a.more,
.bodywrapper a.more:link,
.bodywrapper a.more:visited {
	background-color:#9D50CA ;
	color:#fff;
	border:none;
	text-align:center;
	padding:3px 15px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	text-decoration:none;
}
.bodywrapper a.more:hover,
.bodywrapper a.more:active {
	cursor: pointer;
	color:#9D50CA;
	background-color:#fff;
}

.bodywrapper a.returnLink,
.bodywrapper a.returnLink:link,
.bodywrapper a.returnLink:visited{
	background:#9D50CA url(img/returnlink.png) no-repeat 8px 3px;
	display: inline-block;
	padding: 5px 10px 6px 30px;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	line-height: 1;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	
	-moz-box-shadow: 0px 1px 3px #999;
	-webkit-box-shadow: 0px 1px 3px #999;
	box-shadow: 0px 1px 3px #999;
	
	
	background-color:#9D50CA;
	position: relative;
	cursor: pointer;
	-webkit-transition: all 0.3s ease-in-out; 
	-moz-transition: all 0.3s ease-in-out; 
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.bodywrapper a.returnLink:hover,
.bodywrapper a.returnLink:active {
	text-decoration:none;
	color: #000;
	text-shadow: 0px -1px 1px #fff;
	filter: dropshadow(color=#fff, offx=0, offy=-1);
	background:#eaeaea url(img/returnlink.png) no-repeat 8px -29px;
}