 #slider,  #slider li,  #slider2,  #slider2 li {
	height:auto !important;
	margin:0;
	padding:0;
	list-style:none
}
 #slider ul,  #slider2 ul{
	height:auto !important;
	margin:0;
	padding:0;
}
 #slider ul img,  #slider2 ul img{
	max-width:300px;
	max-height:50px;
}
 #logo-top .button-placeholder img {
        width: 16px;
        height: 16px;
    }
 #footerTop .button-placeholder img {
        width: 16px !important;
        height: 16px !important;
    }
