.bodywrapper .navigation {
	position:relative;
}
.bodywrapper .navigation .navbar {
	background-repeat: no-repeat;
	float: left;
}
.bodywrapper .navigation .navbar ul.navmenu {
	margin: 0;
	list-style: none
}
.bodywrapper .navigation .navbar ul.navmenu li {
	float: left;
	line-height: 100px;
	padding-right: 10px;
	padding-left: 10px;
	position:relative;
	z-index:898;
	margin: 0;
}
.bodywrapper .bodywrapper .navigation .navbar ul.navmenu li ul li {
	display: block;
	float: none;
}
.bodywrapper .navigation .navbar ul.navmenu li a {
	color: #7F8384;
	font-size:16px;
	height: 100px;
	display:block;
	line-height: 100px;
	white-space:pre;
    text-shadow: 0 1px 0 #FFFFFF;
    text-transform: uppercase;
}

.bodywrapper .navigation .navbar ul.navmenu li.hasChildren:hover {
	background-image: url(img/arrow-down-hover.png);
	background-color: #eaeaea;
	background-repeat: repeat-x;
	background-position: 50% 80%;
	border-color: #333;
	line-height: 100px;
	position: relative;
	z-index:899;
}

.bodywrapper .navigation .navbar ul.navmenu li.noChildren:hover {
	background-image: url(img/noarrow-down-hover.png);
	background-color: #eaeaea;
	background-repeat: repeat-x;
	background-position: 50% 80%;
	border-color: #333;	
	line-height: 100px;
	position: relative;
	z-index:899;
}
.bodywrapper .navigation .navbar ul.navmenu li.hasChildren:hover a,
.bodywrapper .navigation .navbar ul.navmenu li.noChildren:hover a {
	color: #9D50CA;
	text-decoration: none;
}
.bodywrapper .navigation .navbar ul.navmenu li.hasChildren:hover div,
.bodywrapper .navigation .navbar ul.navmenu li.noChildren:hover div {
	display: block;
/*	margin-top: -1px;*/
}
.bodywrapper .navigation .navbar ul.navmenu li.hasChildren:hover div ul li a,
.bodywrapper .navigation .navbar ul.navmenu li.noChildren:hover div ul li a {
	font-size:13px;
	color: #3b3b3a;
	white-space: normal
}
.bodywrapper .navigation .navbar ul.navmenu li.hasChildren {
	background-image: url(img/arrow-down.png);
	background-repeat: no-repeat; 
	background-position: 50% 80%;
	position: relative;
}
.bodywrapper .navigation .navbar ul.navmenu li.hasChildren a {
	color: #7F8384;
}
.bodywrapper .navigation .navbar ul.navmenu li.selected a,
.bodywrapper .navigation .navbar ul.navmenu li.inPath a {
	color: #9D50CA;
}
.bodywrapper .navigation .navbar ul.navmenu li.hasChildren div {
	display: none;
	left: -1px;
	top: 100px;
	border: 1px solid #CECECE;
	position: absolute;
	z-index:999;
}

.bodywrapper .navigation .navbar ul.navmenu li.hasChildren div ul {
	list-style: none;
	padding: 10px 4px;
	width: 200px;
	background-color: #f4f4f4;
	overflow: hidden;
	border: 1px solid #ffffff;
	margin:0px;

}

.bodywrapper .navigation .navbar ul.navmenu li.hasChildren div ul li {
	padding: 5px;
	padding-left: 10px;
	line-height: 20px;
	width:200px;
}
.bodywrapper .navigation .navbar ul.navmenu li.hasChildren div ul li a {
	color: #333;
	line-height: 20px;
	height: auto;
	display:block;
}
.bodywrapper .navigation .navbar ul.navmenu li.hasChildren div ul li.selected a {
	color: #9D50CA;
}
.bodywrapper .navigation .navbar ul.navmenu li.hasChildren div ul li a:hover {
	color: #9D50CA;
	text-decoration: none;
}

.bodywrapper .navigation .navbar ul.level_2 li.hasChildren:hover,
.bodywrapper .navigation .navbar ul.level_2 li.noChildren:hover {
	background-image: none;
	background-color: transparent;
	border: none;
	line-height: 20px;
	position: inherit;
}
