 .image {width:1%}
 div.boxshadow div.box-inner {margin:0px;border-top:none;border-left:none}
 h4.title {height:1%}
 .author {height:1%;}

 .arrow-white-shadow-left {left:-16px;}
  ul.idTabs {display:inline-block}

 ul.tasks li *,
 ul.wikicompare li *{
	position:relative 
}
 div.box-outer {
	margin:4px
}
 div.box-inner {
	margin:-4px;
}
 div.intro{
	width:99%
}
 .navigation {
	position:relative;
}
 .navigation .navbar {
	float: none;
}