html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,th,td{margin:0;padding:0;}

img,body,html{border:0;}

/******************************************************************************
* Body and GWT .x-border-layout-ct BG
******************************************************************************/
.gwt-body-edit,
body {
	background-color:#f0eee4;
}
body {
	width:100%;
	background-color:#f0eee4;
	font-size:80%;
	color:#36393d;
	font-family: Arial, Helvetica, sans-serif;
	line-height:160%;
}
/******************************************************************************
* Utils
******************************************************************************/
.collapsible {
	display:none;
}
 .clear 	{
	clear:both;
}
 .clearitem 	{
	clear:both;
}

 br.clear {
	clear:both;
	font-family: Arial, Helvetica, sans-serif;
	line-height:0px;	/* no height ! */
	font-size:0px;
}
 .hide,  .hidden {
	display:none;
}

 .floatright {
	float:right;
	position:relative;
	margin: 5px;
}
 .floatleft {
	float:left;
	position:relative;
	margin: 5px;
}

 .leftside{
	float:left;
	position:relative;
}
 .rightside{
	float: right;
	position:relative;
}
 .clearMaringPadding{
	padding:0;
	margin:0;
}
/******************************************************************************
*  topheader
******************************************************************************/
 #topheader{
	position:relative;
	z-index:900;
	width:960px;
	margin: 0 auto ;
}
/******************************************************************************
*  Languages
******************************************************************************/
 div#languages {
	float:right;
	display:inline;
	padding:10px;
}

 #languages ul  {
	list-style: none;
	float:left;
	display:inline;
	margin:0;
	font-size:85%;
	line-height:normal;
}
 #languages li {
	display:inline;
	padding:0 5px;
	background: none;
}
 #languages li.selected {
	color:#900;
	text-decoration:underline
}
 #languages a,
 #languages a:link,
 #languages a:visited {
	color:#333;
	text-decoration:none;
	background:none;
}
 #languages a:hover,
 #languages a:active {
	color:#900;
	text-decoration:underline;
	background:none;
}
/******************************************************************************
*  Float Right List for ordered or unordered links list
******************************************************************************/
 .FloatRightList ul {
	text-align:right;
	list-style:none;
	margin:0;
	padding:0;
}

 .FloatRightList li {
	list-style:none;
	padding-left:1em;
	display:inline;
	line-height:125%
}
/******************************************************************************
* list Arrow
******************************************************************************/
 ul.arrowList, .arrowList ul {
	margin:5px 0;
	position:relative;
	list-style:none;
}
 .arrowList li {
	background: url(img/arrow.png) no-repeat 0 2px;
	padding:0 0 0 12px;
	clear:left;
	list-style:none;
}
/******************************************************************************
*  Hilight List
******************************************************************************/

 .hilightList ul {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0;
	padding:0;
	border-bottom:none;
}
 .hilightList li {
	list-style-type:none;
	margin:0;
	padding:0;
}
 .hilightList li a,
 .hilightList li a:link,
 .hilightList li a:visited
{
	border-bottom:1px solid #ccc;
	padding:0.2em 0.5em;
	display:block;
	text-decoration:none;
	color:#333;
}
 .hilightList li a:hover,
 .hilightList li a:active {
	text-decoration:none;
	color:#900;
	background-color:#eaeaea
}

/******************************************************************************
* header-part1
******************************************************************************/
 div#headerPart1{
	position:relative;
	width: 940px;
}

/******************************************************************************
*  page
******************************************************************************/
 #page {
	padding:10px;
	width:960px;
	background-color:#fff;
	margin: 10px auto 10px auto ;
}
/******************************************************************************
*  bottomheader
******************************************************************************/
/*Navigation N1*/
 div .navigationN1{
	clear:both;
	background:#dad9d8 url(img/navigationN1-top.png) no-repeat top left;
	margin: 0;
	padding:0 ;
	width:960px
}
 .navigationN1 ul {
	clear:both;
	list-style-type:none;
	overflow:hidden;
	background:transparent url(img/navigationN1-bottom.png) no-repeat bottom left;
	margin: 0;
	padding:0 ;
	width:960px
}
 .navigationN1 li {
	display:inline;
	float:left;
	margin:0;
	padding:0;
}

 .navigationN1 li a {
	background:transparent url(img/navigationN1-separator.png) no-repeat 100% 50% ;
	color:#333;
	display:inline;
	float:left;
	padding:6px 15px;
	text-decoration:none;
	font-size:1.1em;
	font-weight:bold;
	text-transform:uppercase;
	white-space:nowrap
}
 .navigationN1 li.lastInLevel a {
	background:none;
}
 .navigationN1 li a:hover,
 .navigationN1 li.selected a,
 .navigationN1 li.selected a:link,
 .navigationN1 li.selected a:visited,
 .navigationN1 li.selected a:hover,
 .navigationN1 li.selected a:active {
	color:#900;
}

/******************************************************************************
*  content
******************************************************************************/
 #content{
	padding-top:20px;
	padding-bottom:20px;
	position:relative;
	z-index:700;

}
/******************************************************************************
* footer
******************************************************************************/
 #footer{
	clear:both;
}
 #footer a,
 #footer a:link,
 #footer a:visited {
	color:#333;
	text-decoration:none;
	background:none;
}
 #footer a:hover,
 #footer a:active {
	color:#900;
	text-decoration:underline;
	background:none;
}
/******************************************************************************
*  footerPart1
******************************************************************************/
 #footerPart1{
	background-color:#EAEAEA;
	clear:both;
	color:#333333;
	font-size:85%;
	line-height:100%;
	overflow:hidden;
	text-align:left;
	padding-top:10px;
	padding-bottom:10px;

}
/******************************************************************************
*  footerPart2
******************************************************************************/
 #footerPart2{
	clear:both;
	text-align:left;
	font-size:85%;
	line-height:120%;
	color:#666;
	overflow:hidden;
	width:960px;
	padding-top:10px;
	padding-bottom:10px;
}
/******************************************************************************
*  footerPart3
******************************************************************************/
 #footerPart3{
	clear:both;
	text-align:left;
	font-size:85%;
	line-height:100%;
	color:#333;
	overflow:hidden;
	background-color:#eaeaea;
	width:960px;
	padding-top:10px;
	padding-bottom:10px;
}
 #footerPart3 p {
	text-transform:capitalize;
	padding:0.2em 0 0.2em 0;
}
 #footerPart3 p.footerText {
	font-style:italic;
	padding:0.2em 0 2em 0;
	color:#dad0c7
}
 #footerPart3 a,
 #footerPart3 a:link,
 #footerPart3 a:visited {
	color:#333;
	text-decoration:none;
}
 #footerPart3 a:hover,
 #footerPart3 a:active {
	color:#333;
	text-decoration:underline;
}
/*bottomshortcuts*/

 div#bottomshortcuts{
	display:inline;
}

 #bottomshortcuts ul  {
	margin:0;
	padding:0;
	list-style:none;
}
 #bottomshortcuts li {
	display:inline;
	background: url(img/bottomshortcuts-bullet.png) no-repeat 100% 50%;
	padding-right:10px;
	margin-right:10px;
}
 #bottomshortcuts .last {
	background:none;
	padding-right:0;
	margin-right:0;
}
/******************************************************************************
*  General
******************************************************************************/
 a,
 a:link,
 a:visited {
	color:#900;
	text-decoration:underline;
}
 a:hover,
 a:active {
	color:#900;
	text-decoration:none;
}
 p{
	margin:0.5em 0;
}
 ul  {
	margin:1em 0 1em 2em;
	padding:0;
	list-style-position:outside;
}

 li  {
	margin:0;
	padding:0;
}
 ol  {
	margin:1em 0 1em 2em;
	padding:0;
	list-style-position:outside;
}

 ol li {
	margin:0;
	padding:0;
	background: none;
	list-style: decimal
}
 dt {
	font-weight:bold;
	color:#900
}
 dd {
	padding:0 0 0 0.5em;
}
 h1 {
	color:#333;
	font-weight:normal;
	font-size:2.2em;
	text-transform:uppercase;
	margin:0;
	padding:0;
}
 h2 {
	color:#900;
	font-weight:normal;
	font-size:2em;
	margin:0 0 0.5em 0 ;
	padding:0;
}

 h3 {
	color:#333;
	font-size:1.4em;
	font-weight:bold;
	margin:0 0 0.5em 0 ;
	padding:0;
}

 h4 {
	font-size:1.2em;
	color:#333;
	font-weight:bold;
	margin:0 0 0.5em 0 ;
	padding:0 0 5px 0;
	border-bottom:1px dotted #ccc
}

 h5 {
	font-size:1em;
	font-weight:bold;
	color:#333;
	margin:0;
	padding:0;

}

 fieldset {
	padding:0.5em;
	border:1px solid #ccc;
	margin:0.5em 0;
}
 legend {
	font-size:1em;
	color:#333;
	padding:0 0.5em;
	background:#fff url(img/contactformlegend.png) repeat-x bottom left;
	border:1px solid #ccc;
	display:inline;
	color:#333;
	font-weight:bold;
	text-transform:uppercase
}
 hr {
	height:1px;
	background-color:#ccc;
	color:#ccc;
	border: none;
	margin : 1em 0;
}
 blockquote {
	background:#eaeaea url(img/blockquote.png) no-repeat top left;
	border:1px solid #ccc;
	font-style:italic;
	margin-bottom:10px;
	margin-top:10px;
	padding:20px;
}

 div.intro{
	color:#333;
	line-height:1.6em;
	font-size:1.4em;
	text-align:justify;
	border-bottom:1px dotted #ccc;
	border-top:1px dotted #ccc;
	padding:0.5em 0.5em;
	margin : 1em 0;
}
 div.intro p{
	padding:0;
	margin : 0;
}
 textarea {
	font-family: Arial, Helvetica, sans-serif;
	font-size:100%
}
 input,
 select,
 textarea {
	background-color:transparent;
	background:#fff url(img/input_bg.png) repeat-x top left;
	border:1px solid #ccc;
	color:#666;
	padding:4px 5px;
}

 input.gobutton{
	background:none;
	border:none;
	margin:0;
		padding:0;
	vertical-align: bottom;
}
 .small {
	font-weight:0.8em;
}
 .colorlight {
	color:#666
}
/******************************************************************************
*  Float Right Links List ordered or unordered
******************************************************************************/
 ul.FloatRightList {
	text-align:right;
	list-style:none;
	margin:0;
	padding:0;
}
 .FloatRightList li {
	list-style:none;
	padding-left:1em;
	display:inline;
	line-height:125%
}
/******************************************************************************
*  Images
******************************************************************************/
 .imagefloatright {
	float:right;
	margin-bottom:20px;
	padding-left:20px;
}
 .imagefloatleft {
	float:left;
	margin-bottom:20px;
	padding-right:20px;
}
 .imagefloatright {
	float:right;
	margin-bottom:20px;
	padding-left:20px;
}

 .itemImage {
	background-color:#F4F4F4;
	border:1px solid #CCC;
	position:relative;
	padding:1px;
	margin-bottom:10px;
}
 .imagefloatleft .itemImage  {
	margin-bottom:0px;
}
 .imagefloatright .itemImage  {
	margin-bottom:0px;
}
 div.itemImageRight {
	float:right;
}
 div.itemImageLeft {
	float:left;
}
 .itemImage img {
	background-color:#e1e1e1;
	display: block;
	padding:9px;
}
 .itemImagewhite img{
	background-color:#fff;
	display: block;
}
/******************************************************************************
*  Button
******************************************************************************/
 .divButton{
	text-align:center;
	margin:0 0 10px 0;
	overflow:hidden;
}
 .divButtonRight{
	text-align:right;
	overflow:hidden;
}
 input.button,  button {
	margin-right:0.5em;
}

 .button,   button{
	background:#fff url(img/bg-button.png) repeat-x bottom left;
	border:1px solid #333;
	color:#333;
	text-transform:uppercase;
	font-family:"lucida grande", tahoma, verdana, arial, sans-serif;
	text-align:center;
	font-size:80%;
	padding:6px 15px 4px 15px;
}
 .button:hover,  button:hover {
	cursor: pointer;
	background:#fff url(img/bg-button-on.png) repeat-x top left;
	color:#900;
}
/******************************************************************************
* Title h3
******************************************************************************/
 h3.titleIcon {
	color:#333;
	padding:0 50px 5px 2px;
	position:relative;
}
 h3.titleIcon img {
	position:absolute;
	right:0;
	top:-5px;
}
/******************************************************************************
*  <A> Button
******************************************************************************/

  a.aButton,
  a.aButton:link,
  a.aButton:visited {
	background: transparent url(img/button-right.png) no-repeat scroll top right;
	display: block;
	float: left;
	height: 24px; /* CHANGE THIS VALUE ACCORDING TO IMAGE HEIGHT */
	margin-right: 6px;
	padding-right: 20px; /* CHENGE THIS VALUE ACCORDING TO RIGHT IMAGE WIDTH */
	/* FONT PROPERTIES */
	text-decoration: none;
	color:#fff;
	margin-top: 5px;
}
  a.aButton span {
	/* Background left image */
	background: transparent url(img/button-left.png) no-repeat;
	display: block;
	line-height: 12px; /* CHANGE THIS VALUE ACCORDING TO BUTTONG HEIGHT */
	padding: 6px 0 6px 18px;
}
  a.aButton:hover span{
	text-decoration:underline;
}
  a.aButtonRight,
  a.aButtonRight:link,
  a.aButtonRight:visited{
	float: right;
}
/******************************************************************************
*  <A> bottomanchor
******************************************************************************/
 div.bottomanchor {
	border-top:1px dotted #ccc;
	line-height:1.2em;
	padding:0.2em;
	margin: 1em 0;
	clear:both;
}
 .bottomanchor a,
 .bottomanchor a:link,
 .bottomanchor a:visited  {
	float:right;
	margin:0 ;
	font-size:80%;
	background: url(img/bottomanchor.png) no-repeat top right;
	padding-right:20px;
}
 .bottomanchor a:hover ,
 .bottomanchor a:active  {
	cursor: pointer;
	background: url(img/bottomanchor-on.png) no-repeat top right;
}
/******************************************************************************
*  Sort
******************************************************************************/
 .sort{
	text-align:right
}
/******************************************************************************
*  Thumbnails
******************************************************************************/
 div.thumbnail {
	float:left;
	position:relative;
	margin-right:20px;
}
 div.thumbnailRight {
	float:right;
	position:relative;
	margin-left:20px;
}
 div.thumbnail img {
	position:relative
}
/******************************************************************************
* Thumbnails  List
******************************************************************************/
 div.thumbnailList{
	margin-top:10px;
	margin-bottom:10px;
}
 div.thumbnailList a{
	float:left;
	margin-right:10px;
	margin-bottom:10px;
	border:1px solid #fff
}
 div.thumbnailList a:hover{
	border:1px solid #000
}
/******************************************************************************
* breadcrumb
******************************************************************************/

 ul.breadcrumb  {
	font-size:90%;
	margin:1em 0;
	padding:0;
	list-style:none;
	color:#999;
}
 ul.breadcrumb li {
	display:inline;
	margin:0;
	padding:0;
	background: none;
	margin: 0.4em ;
}
 ul.breadcrumb a,
 ul.breadcrumb a:link,
 ul.breadcrumb a:visited
{
	padding:0 1em 0 0;
	margin:0;
	background: url(img/breadcrumb-separator.png) no-repeat 100% 50% ;
	color:#999;
	text-decoration:underline;
}
 ul.breadcrumb li:last-child a {
    background-image:none;
}

 ul.breadcrumb a:hover,
 ul.breadcrumb a:active {
	color:#900;
	text-decoration:underline;
}
 pre {
	background-color:#EAEAEA;
	border-left:4px solid #CCCCCC;
	font-family:Courier,"Courier New",monospace;
	font-size:100%;
	overflow:auto;
	margin-bottom:15px;
	margin-top:15px;
	padding:20px;
	line-height:100%
}
/******************************************************************************
* navigationN2
******************************************************************************/
 div .navigationN2 {
	border-top:5px solid #ddd3ca;
	margin-bottom:10px;
}

 .navigationN2 ul{
	margin:0;
	padding:0;
	list-style: none;
	background-color:#fff;

}
 .navigationN2 li{
	margin:0;
	padding:0;
	background: none;
	line-height:2.2em;
	list-style:none
}
 .navigationN2 li li{
	margin:0;
	padding:0;
	border-bottom:none;
}
 .navigationN2 a,
 .navigationN2 a:link,
 .navigationN2 a:visited {
	display: block;
	text-decoration: none;
	height:1%;
	background: none;
	color:#333;
}
 .navigationN2 a:hover,
 .navigationN2 a:active{
	background:none;
	color:#900;
}

 .navigationN2 .level_1 a,
 .navigationN2 .level_1 a:link,
 .navigationN2 .level_1 a:visited {
	padding:0 2px 0 20px;
	background: url(img/bg-navigationN2-L1.png) no-repeat 10px 50%;
	border-bottom:1px solid #ccc;
	margin:1px 0;
}
 .navigationN2 .level_1 a.inpath,
 .navigationN2 .level_1 a.inpath:link ,
 .navigationN2 .level_1 a.inpath:visited ,
 .navigationN2 .level_1 a.inpath:hover ,
 .navigationN2 .level_1 a.inpath:active{
	font-weight:bold;
	background: #eaeaea url(img/bg-navigationN2-L1-on.png) no-repeat 6px 50%;
}

 .navigationN2 .level_1 a:hover,
 .navigationN2 .level_1 a:active{
	color:#900;
	background: url(img/bg-navigationN2-L1-selected.png) no-repeat 10px 50%;
	background-color:#ddd3ca;
}
 .navigationN2 .level_1 a.selected,
 .navigationN2 .level_1 a.selected:link ,
 .navigationN2 .level_1 a.selected:visited ,
 .navigationN2 .level_1 a.selected:hover,
 .navigationN2 .level_1 a.selected:active {
	background: url(img/bg-navigationN2-L1-selected.png) no-repeat 10px 50%;
	color:#c03;
}

 .navigationN2 .level_2 a,
 .navigationN2 .level_2 a:link,
 .navigationN2 .level_2 a:visited {
	padding:0 2px 0 40px;
	background: url(img/bg-navigationN2-L2.png) no-repeat 30px 50% ;
}
 .navigationN2 .level_2 a.inpath,
 .navigationN2 .level_2 a.inpath:link ,
 .navigationN2 .level_2 a.inpath:visited ,
 .navigationN2 .level_2 a.inpath:hover ,
 .navigationN2 .level_2 a.inpath:active{
	font-weight:bold;
	background: #eaeaea url(img/bg-navigationN2-L2-on.png) no-repeat 26px 50% ;
}
 .navigationN2 .level_2 a:hover,
 .navigationN2 .level_2 a:active{
	color:#900;
	background: url(img/bg-navigationN2-L2-selected.png) no-repeat 30px 50% ;
	background-color:#ddd3ca;
}

 .navigationN2 .level_2 a.selected,
 .navigationN2 .level_2 a.selected:link ,
 .navigationN2 .level_2 a.selected:visited ,
 .navigationN2 .level_2 a.selected:hover,
 .navigationN2 .level_2 a.selected:active {
	background: url(img/bg-navigationN2-L2-selected.png) no-repeat 30px 50% ;
	color:#c03;
}
 .navigationN2 .level_3 a,
 .navigationN2 .level_3 a:link,
 .navigationN2 .level_3 a:visited {
	padding:0 2px 0 60px;
	background: url(img/bg-navigationN2-L3.png) no-repeat 50px 50% ;

}
 .navigationN2 .level_3 a.inpath,
 .navigationN2 .level_3 a.inpath:link ,
 .navigationN2 .level_3 a.inpath:visited ,
 .navigationN2 .level_3 a.inpath:hover ,
 .navigationN2 .level_3 a.inpath:active{
	font-weight:bold;
	background: #eaeaea url(img/bg-navigationN2-L3-on.png) no-repeat 46px 50% ;
}
 .navigationN2 .level_3 a:hover,
 .navigationN2 .level_3 a:active{
	color:#900;
	background: url(img/bg-navigationN2-L3-selected.png) no-repeat 50px 50% ;
	background-color:#ddd3ca;
}
 .navigationN2 .level_3 a.selected,
 .navigationN2 .level_3 a.selected:link ,
 .navigationN2 .level_3 a.selected:visited ,
 .navigationN2 .level_3 a.selected:hover,
 .navigationN2 .level_3 a.selected:active {
	background: url(img/bg-navigationN2-L3-selected.png) no-repeat 50px 50% ;
	color:#c03;
}
 .navigationN2 .level_4 a,
 .navigationN2 .level_4 a:link,
 .navigationN2 .level_4 a:visited {
	padding:0 2px 0 80px;
	background: url(img/bg-navigationN2-L4.png) no-repeat 70px 50%;

}
 .navigationN2 .level_4 a.inpath,
 .navigationN2 .level_4 a.inpath:link ,
 .navigationN2 .level_4 a.inpath:visited ,
 .navigationN2 .level_4 a.inpath:hover,
 .navigationN2 .level_4 a.inpath:active{
	font-weight:bold;
	background: #eaeaea url(img/bg-navigationN2-L4-on.png) no-repeat 66px 50% ;
}
 .navigationN2 .level_4 a:hover,
 .navigationN2 .level_4 a:active{
	color:#900;
	background: url(img/bg-navigationN2-L4-selected.png) no-repeat 70px 50% ;
	background-color:#ddd3ca;
}
 .navigationN2 .level_4 a.selected,
 .navigationN2 .level_4 a.selected:link ,
 .navigationN2 .level_4 a.selected:visited ,
 .navigationN2 .level_4 a.selected:hover,
 .navigationN2 .level_4 a.selected:active {
	background: url(img/bg-navigationN2-L4-selected.png) no-repeat 70px 50% ;
	color:#c03;
}
 .navigationN2 .level_5 a,
 .navigationN2 .level_5 a:link,
 .navigationN2 .level_5 a:visited {
	padding:0 2px 0 100px ;
	background: url(img/bg-navigationN2-L5.png) no-repeat 90px 50% ;
}
 .navigationN2 .level_5 a.inpath,
 .navigationN2 .level_5 a.inpath:link ,
 .navigationN2 .level_5 a.inpath:visited ,
 .navigationN2 .level_5 a.inpath:hover ,
 .navigationN2 .level_5 a.inpath:active{
	font-weight:bold;
	background: #eaeaea url(img/bg-navigationN2-L5-on.png) no-repeat 86px 50% ;
}

 .navigationN2 .level_5 a:hover,
 .navigationN2 .level_5 a:active{
	color:#900;
	background: url(img/bg-navigationN2-L5-selected.png) no-repeat 90px 50% ;
	background-color:#ddd3ca;
}
 .navigationN2 .level_5 a.selected,
 .navigationN2 .level_5 a.selected:link ,
 .navigationN2 .level_5 a.selected:visited ,
 .navigationN2 .level_5 a.selected:hover,
 .navigationN2 .level_5 a.selected:active {
	background: url(img/bg-navigationN2-L5-selected.png) no-repeat 90px 50% ;
	color:#c03;
}

/******************************************************************************
* more info
******************************************************************************/
 div.more {
	float:right;
	font-size:11px;
	font-weight:bold;
	background: transparent url(img/more.png) no-repeat 0% 50% ;
	padding:0 0 0 12px;
	margin-bottom:0;
	display:block;
}
 .more span {
}
 a.returnLink {
    background: transparent url( img/returnlink.png ) no-repeat 0% 50%;
    padding-left: 16px;
}
/******************************************************************************
*  News List newsList3
******************************************************************************/
 ul.newsList3 {
	margin:0;
	padding:0;
}
 .newsList3 li{
	list-style-type:none;
	margin:0;
	padding:0;
	font-weight:bold;
	border-bottom:1px solid #eaeaea;
	background: url(img/newslist3.png) no-repeat 0.5em 0.2em;
	padding:0.2em;
	padding-left:30px;
}
 .newsList3 li:hover{
background-color:#eaeaea
}

 .newsList3 li.lastnews  {
	border:none;
}

 .newsList3 a,
 .newsList3 a:link,
 .newsList3 a:visited {
	color:#333;
	text-decoration:none;
}
 .newsList3 a:hover,
 .newsList3 a:active {
	color:#900;
	text-decoration:underline;
}
/******************************************************************************
*  Pagination
******************************************************************************/
 div.pagination {
	height:1%;
	overflow:hidden;
	text-transform:uppercase;
	border-top : 1px solid #ccc;
	background-color:#eaeaea;
	padding:0.5em 0.5em;
	margin:0.5em 0;
}
 .paginationPosition {
	float:left;
	font-size:0.9em;
	font-weight:bold;
	color:#333;
	padding:0.5em;
}
 .paginationNavigation {
	float:right;
	font-size:0.9em;

}
 .paginationNavigation a,
 .paginationNavigation a:link,
 .paginationNavigation a:visited,
 .paginationNavigation a:hover,
 .paginationNavigation a:active {
	text-decoration:none;
	padding:0.2em 0.5em;
	cursor:pointer;
}

 .paginationNavigation a:hover {
	background:#900;
	color:#fff;
}
 .paginationNavigation .currentPage{
	background:#900;
	color:#fff;
	padding:0.2em 0.5em;
}


 .paginationNavigation span {
	text-decoration:none;
	color:#666;
	padding:0;
}
/******************************************************************************
*  AlphabeticalMenu
******************************************************************************/
 div.alphabeticalMenu {
	height:1%;
	overflow:hidden;
	text-transform:uppercase;
	border-top : 1px solid #ccc;
	background-color:#eaeaea;
	padding:0.5em 0.5em;
	margin:0.5em 0;
}
 .alphabeticalLabel {
	float:left;
	font-size:0.9em;
	font-weight:bold;
	color:#333;
}
 .alphabeticalNavigation {
	float:right;
	font-size:0.9em;

}
 .alphabeticalNavigation a:link,
 .alphabeticalNavigation a:visited,
 .alphabeticalNavigation a:hover,
 .alphabeticalNavigation a:active {
	text-decoration:none;
	padding:0.2em 0.5em;
}

 .alphabeticalNavigation a:hover {
	background:#900;
	color:#fff;
}
 .alphabeticalNavigation .current{
	background:#900;
	color:#fff;
	padding:0.2em 0.5em;
}


 .alphabeticalNavigation span {
	text-decoration:none;
	color:#666;
	padding:0;
}
/******************************************************************************
*  formSearchTop
******************************************************************************/
 #formSearchTop {
	margin:0;
	margin-bottom:10px;
	padding:0;
	display: block;
}
 #formSearchTop label{
	font-weight: normal;
}
 #formSearchTopA label{
	display:none
}

 #formSearchTopA {
	background:transparent url(img/bg-formsearchtop.png) no-repeat 0 0;
	margin:0;
	padding:0;
	width:280px;
	height: 36px;
	display: block;
}
 #formSearchTop:hover{
	background:transparent url(img/bg-formsearchtop.png) no-repeat 0px -36px;

}
 #formSearchTop p{
	margin:0;
	padding:0;
}

 #formSearchTop .text{
	margin:10px 0 0 20px;
	background-color: transparent;
	border:none;
	color:#666;
	height:15px;
	width:232px;
}

 #formSearchTop .gobutton{
	margin-left:2px;
	vertical-align: bottom;
}

 #formSearchTop p.loginFormTopSection{
	margin:0 1.5em;
	padding:0;
	clear:both;
	font-size:90%;
	line-height:normal;
}
/******************************************************************************
*  links List
******************************************************************************/
 ul.links {
	margin:0;
	padding:0;
}
 .links li{
	list-style-type:none;
	margin:0;
	padding:0;
	font-weight:bold;
	border-bottom:1px solid #eaeaea
}
 .links li:hover{
	background-color:#eaeaea
}
 li.link  {
	background: url(img/link.png) no-repeat 0.5em 0.6em;
	padding:0.5em;
	padding-left:30px;
}
 li.externallink  {
	background: url(img/externallink.png) no-repeat 0.5em 0.5em;
	padding:0.5em;
	padding-left:30px;
}
 .links li.lastlink  {
	border-bottom:none
}
 .links a,
 .links a:link,
 .links a:visited {
	text-decoration:none;
}
 .links a:hover,
 .links a:active {
	text-decoration:underline;
}



/******************************************************************************
*  Summary
******************************************************************************/
 ul.summary,  .summary {
	margin:10px 0;
	line-height:130%;
	padding: 10px;
	background-color:#eaeaea;
	border:1px solid #ccc;
	list-style:none;
}
 .summary a,
 .summary a:link,
 .summary a:visited {
	text-decoration:none;
}
 .summary a:hover,
 .summary a:active {
	text-decoration:underline;
}

 .summary ul {
	margin:0;
	padding:0 0 0 2em;
	list-style:none;
}
 .summary li {
	padding:0;
	margin-bottom:10px
}

/******************************************************************************
*  Tables
******************************************************************************/
 .table th img{
	vertical-align: middle
}
 .table,
 .table caption
{
    margin: auto;
	line-height:1.9em;

}

 .table
{
    border-collapse:collapse;
	margin-bottom:1em;
	font-size:0.85em;
	border:none;
}

 .table caption
{
	font-weight:normal;
	font-size:2em;
	margin:0 ;
	padding:0;

}
 .table,  .table th,  .table td
{
border: 1px solid #ccc;
}
 .table th {
    color: #333;
	white-space:nowrap;
	background-color:#CCCCCC;
	padding:5px;
}
 .table td
{
	background-color:#fff;
	padding:5px;
}
 .table tr:hover{
	background-color:#f0f0f0
}
 .table .odd td{background-color:#eaeaea}
 .table .even td{ background-color:#fff}
 .col1{}
 .col2{}
 .col3{}
 .col4{}

 .table td.center,
 .table th.center
{
	text-align:center;
}
/******************************************************************************
*  Visibility
******************************************************************************/
 .visibility
{
	display:block
}
 span.visibility
{
	font-weight:bold;
	font-size:0.85em
}
/******************************************************************************
*  Preferences Form
******************************************************************************/
 .preferencesForm
{
margin:10px 0;
}
 .preferencesForm fieldset
{
border:none
}
 .preferencesForm legend
{
display:none
}
/******************************************************************************
*  menu-tabs-home
******************************************************************************/
 div.idTabs-home{
	margin-top:1em;
	margin-bottom:1em
}

 /******************************************************************************
*  video
******************************************************************************/
 div.clip{
	margin-bottom: 0.5em ;
}
/******************************************************************************
*  Code
******************************************************************************/
 code,
 .code{
	font-family: "Courier New", Courier, monospace;
	font-weight: bold;
	color: #333;
	background-color:#eaeaea;
	padding:0 0.5em;
}
/******************************************************************************
*  highlight
******************************************************************************/
 .highlight{
	background-color:#ffff99;
	padding-right:0.5em;
	padding-left:0.5em;
}
/******************************************************************************
*  Home shortcuts
******************************************************************************/
 ul.homeShortcuts {
	margin:0.5em 0;
	padding:0;
	list-style:none;
}
 .homeShortcuts li{
	margin:0;
	padding:0.5em 0;
	border-bottom:1px solid #ccc;
	font-weight:bold;
	list-style:none;
}

 .homeShortcuts li:hover{
	background-color:#eaeaea;
	border-bottom:1px solid #ccc;
}
 li.codebase {
	background:url(../img-text/codebase.png) no-repeat 0px 2px;
	padding-left:26px;
}
 li.faq {
	background:url(../img-text/faq.png) no-repeat 0px 2px;
	padding-left:26px;
}
 li.hotFixes {
	background:url(../img-text/hotFixes.png) no-repeat 0px 2px;
	padding-left:26px;
}
 li.forum {
	background:url(../img-text/forum.png) no-repeat 0px 2px;
	padding-left:26px;
}
 li.architecture {
	background:url(../img-text/architecture.png) no-repeat 0px 2px;
	padding-left:26px;
}

/******************************************************************************
*  Preferences
******************************************************************************/
 div.preferences{
	border: 1px solid #ccc;
	background-color:#eaeaea;
	padding:5px;
	font-size:90%;
	line-height:100%;
	margin:1em 0;
}
 .preferences p{
	margin:0;
	padding:0
}
 .preferences h2{
	margin:0;
	padding:0;
	font-size:1.2em;
	font-weight:bold;
}
 .preferences .preference-label{
	font-weight:bold;
}
/******************************************************************************
*  Back
******************************************************************************/
 .back{
	float:right;
	font-size:11px;
	font-weight:bold;
	padding:0 0 0 18px;
	margin-bottom:0;
	margin-left:0.5em;
	display:block;
}

/******************************************************************************
* Form
******************************************************************************/
 .Form  p{
	clear:both;
	margin:0.5em 0;
	padding:0px
}
 .Form {
	margin:1em 0 0 0;
	overflow:hidden;
}
 .formMarginLeft{
	margin:0 0 0 25%;
	padding:0 1em 0 2.3em;
}
 .Form label.left {
	float:left;
	width:25%;
	margin:0 1em 0 1em;
	padding:2px;
	text-align:right;
}

/******************************************************************************
*  error
******************************************************************************/
 input.error{
	background-color:#ffebe8;
	border:1px solid #cc3300;
}

 label.error {
 clear: both;
 display: block;
 margin: 10px 0;
 padding:10px;
 padding-left:35px;
 border:1px solid #cc3300;
 -webkit-border-radius:10px;
 -moz-border-radius:10px;
 border-radius:10px;
 background:#ffebe8 url(img/error-messages.png) no-repeat 5px 50%;
}
